<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/style.css">

  <title>Error | 404</title>
</head>

<body>

  <div class="error-page">
    <div class="code">404</div>
    <div class="content">
      Ooops! We Can't Find What Are You Looking For, Please <a href="/"
        style="color: #601d1d; text-decoration: underline;">Go Back Home</a>
    </div>
  </div>

</body>

</html>