<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/includes.js"></script>
  <script>
    get_header()
  </script>

  <title>Node JS Blog</title>
</head>

<body>

  <main class="blog">
    <div class="posts"></div>
  </main>

  <script src="/js/functions.js"></script>
  <script src="/js/script.js"></script>
  <script>
    get_all_posts('blog')
  </script>

</body>

</html>